@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: #030917;
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(149, 195, 255, 0.2);
}

::-webkit-scrollbar-track {
  background-color: #030917;
}

@media screen and (min-width: 2500px) {
  html {
    font-size: 24px;
  }
}

@media screen and (max-width: 1238px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 402px) {
  html {
    font-size: 12px;
  }
}

header {
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .navbar {
  height: 150px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: center;
  padding: 0 10vw;
}

header .navbar .nav-brand {
  font-family: 'Inter', sans-serif;
  font-size: 1.75rem;
  font-weight: 100;
  color: #95C3FF;
}

header .navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

header .navbar .nav-list .nav-item {
  margin: 0 1em;
}

header .navbar .nav-list .nav-item .nav-link {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
  color: #D9D9D9;
  text-decoration: none;
  letter-spacing: 0.02em;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

header .navbar .nav-list .nav-item .nav-link:hover {
  color: #95C3FF;
}

header .content {
  width: 40vw;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 20vh;
  text-align: center;
}

header .content .smaller-text {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #BFBFBF;
}

header .content .title {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 4.25rem;
  font-weight: 100;
  margin: .2em 0;
}

header .content .title .primary {
  color: #fff;
}

header .content .btn {
  position: relative;
  top: 3.5em;
}

@media screen and (max-width: 1238px) {
  header .content {
    width: 100vw;
  }
}

@media screen and (max-width: 962px) {
  header .navbar {
    padding: 0 5vw;
  }
}

@media screen and (max-width: 782px) {
  header .navbar .nav-list {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  header .content {
    width: 80vw;
  }
  header .content .smaller-text:last-of-type {
    width: 60%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    line-height: 1.5;
  }
}

@media screen and (max-width: 416px) {
  header .content .smaller-text:last-of-type {
    width: 80%;
  }
}

@media screen and (max-width: 1026px) {
  header {
    background-attachment: scroll;
  }
}

@media screen and (max-height: 750px) {
  header .content {
    top: 15vh;
  }
}

@media screen and (max-height: 650px) {
  header .content {
    top: 10vh;
  }
}

@media screen and (max-height: 650px) and (max-width: 500px) {
  header .content {
    top: 5vh;
  }
}

.btn {
  padding: 16px 24px;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  -webkit-transition: color .3s ease-in-out, background .3s ease-in-out;
  transition: color .3s ease-in-out, background .3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  line-height: 5px;
}

.btn .icon {
  margin-right: 8px;
}

.btn.light-outline {
  border: 1px solid #D9D9D9;
  color: #D9D9D9;
  background: transparent;
}

.btn.light-outline:hover {
  background: #D9D9D9;
  color: #000;
}

.btn.primary {
  border: 1px solid #95C3FF;
  color: #95C3FF;
  background: transparent;
  margin: 1rem;
}

.btn.primary:hover {
  background: #95C3FF;
  color: #fff;
}

.btn.primary-outline {
  border: 1px solid #95C3FF;
  color: #95C3FF;
  background: transparent;
}

.btn.primary-outline:hover {
  background: #95C3FF;
  color: #fff;
}

.btn.larger {
  height: 50px;
  padding: 18px 32px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  text-transform: capitalize;
}

.page-section {
  width: 100vw;
  padding: 7.5vh 15vw 17.5vh 15vw;
  text-align: center;
}

.page-section .section-end-btn {
  position: relative;
  top: 9vh;
}

.page-section .section-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-section .section-title-container .divider {
  width: 70px;
  height: 1px;
  background-color: #D9D9D9;
  position: relative;
}

.page-section .section-title-container .divider::after {
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  position: absolute;
  top: -5px;
}

.page-section .section-title-container .divider.left::after {
  right: -10px;
}

.page-section .section-title-container .divider.right::after {
  left: -10px;
}

.page-section .section-title-container .title {
  font-family: 'Inter', sans-serif;
  font-size: 2.25rem;
  font-weight: 100;
  color: #fff;
  margin: 0 1em;
}

.page-section .smaller-text {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  color: #BFBFBF;
  text-align: center;
  margin-top: 1.5em;
}

.page-section#projects {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-section#skills {

  background-image: url("");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-section#about {
  height: 100vh;
  background-image: url("");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-section#contact {
  height: 100vh;
  background-image: url("");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7.5vh 15vw 12.5vh 15vw;
} 

@media screen and (max-width: 1342px) {
  .page-section {
    padding: 7.5vh 10vw 17.5vh 10vw;
  }
}

@media screen and (max-width: 1124px) {
  .page-section {
    padding: 7.5vh 5vw 17.5vh 5vw;
  }
}

@media screen and (max-width: 926px) {
  .page-section {
    padding: 7.5vh 10vw 17.5vh 10vw;
  }
}

@media screen and (max-width: 1026px) {
  .page-section#projects {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
  .page-section#skills {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
  .page-section#about {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
  .page-section#contact {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
}

@media screen and (max-width: 558px) {
  .page-section .section-title-container .divider {
    width: 30px;
  }
}

#projects .projects {
  margin-top: 7.5vh;
  text-align: left;
}

#projects .projects .project {
  background-color: rgba(9, 22, 38, 0.35);
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 2.5em 4em 3.5em 4em;
}

#projects .projects .project:not(:first-of-type) {
  margin-top: 10vh;
}

#projects .projects .project .img-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .projects .project .img-container .project-img {
  width: 85%;
}

#projects .projects .project .content .project-title {
  font-family: 'Inter', sans-serif;
  font-size: 1.9rem;
  font-weight: 100;
  color: #fff;
}

#projects .projects .project .content .project-desc {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  color: #BFBFBF;
  line-height: 1.75em;
  margin: .5em 0;
  width: 95%;
}

#projects .projects .project .content .skills-title {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: #fff;
  margin-top: 1em;
}

#projects .projects .project .content .skills-list {
  margin: 1em 0 2.5em 0;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#projects .projects .project .content .skills-list .skill {
  background: -webkit-gradient(linear, left top, right top, from(rgba(149, 195, 255, 0.6)), to(rgba(87, 160, 255, 0.6)));
  background: linear-gradient(90deg, rgba(149, 195, 255, 0.6) 0%, rgba(87, 160, 255, 0.6) 100%);
  border-radius: 99px;
  padding: 8px 16px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  margin: 0 .75em 1em 0;
}

#projects .projects .project .content .btn-group .btn.primary {
  margin-right: 1em;
}

@media screen and (max-width: 926px) {
  #projects .projects .project {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    padding: 2.5em 4em 5em 4em;
    text-align: center;
  }
  #projects .projects .project .img-container {
    -ms-grid-row: 1;
    grid-row: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #projects .projects .project .content .project-title {
    margin-bottom: 1em;
  }
  #projects .projects .project .content .project-desc {
    width: 75%;
    margin-left: 12.5%;
  }
  #projects .projects .project .content .skills-list {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 2em 0 4em 0;
  }
}

@media screen and (max-width: 850px) {
  #projects .projects .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #projects .projects .project .img-container {
    padding: 2em 0;
  }
}

@media screen and (max-width: 624px) {
  #projects .projects .project .img-container .project-img {
    width: 100%;
  }
}

@media screen and (max-width: 538px) {
  #projects .projects .project .content .project-desc {
    width: 95%;
    margin-left: 2.5%;
  }
  #projects .projects .project .content .btn-group .btn {
    display: block;
  }
  #projects .projects .project .content .btn-group .btn.primary {
    margin-right: 0;
    margin-bottom: 2em;
  
  }
  #projects .projects .project .content .skills-list {
    width: 40%;
  }
  #projects .projects .project .content .skills-list .skill {
    margin-right: 0;
    margin-left: 0;
  }
}

#skills .skills-grid {
  width: 50vw;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 7.5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#skills .skills-grid .skill-group {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills .skills-grid .skill-group:not(:first-of-type) {
  border-left: 1px solid rgba(191, 191, 191, 0.2);
}

#skills .skills-grid .skill-group .icon {
  font-size: 4.5rem;
  background: linear-gradient(90deg, #95C3FF 0%, #57A0FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#skills .skills-grid .skill-group .skill-group-title {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  color: #fff;
  margin: 1em 0;
}

#skills .skills-grid .skill-group .skill-list {
  list-style: none;
  text-align: center;
}

#skills .skills-grid .skill-group .skill-list .skill {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  color: #BFBFBF;
}

#skills .skills-grid .skill-group .skill-list .skill:not(:first-of-type) {
  margin: .75em 0;
}

@media screen and (max-width: 1186px) {
  #skills .skills-grid {
    width: 100%;
  }
}

@media screen and (max-width: 724px) {
  #skills .skills-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 50px;
  }
  #skills .skills-grid .skill-group:not(:first-of-type) {
    border: none;
  }
}

#about .about-grid {
  display: -ms-grid;
  height: 70vh;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  text-align: left;
  width: 60vw;
  position: relative;
  left: 55%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#about .about-grid .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about-grid .img-container .about-img {
  width: 75%;
  border-radius: 10px;
}

#about .about-grid .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .about-grid .content .main-text {
  font-family: 'Inter', sans-serif;
  font-size: 1.65rem;
  font-weight: 100;
  color: #fff;
  text-transform: uppercase;
  margin: .1em 0;
}

#about .about-grid .content .main-text .primary {
  color: #95C3FF;
}

#about .about-grid .content .large-paragraph {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  color: #BFBFBF;
  line-height: 1.75em;
  margin: .5em 0;
  width: 77.5%;
}

#about .about-grid .content .socials-heading {
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  color: #fff;
  margin: .5em 0;
}

#about .about-grid .content .socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .about-grid .content .socials-list .social-icon-container {
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  background-color: rgba(238, 238, 238, 0.02);
  padding: 1em;
  margin: 0 1em 0 0;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

#about .about-grid .content .socials-list .social-icon-container .icon {
  font-size: 1.75rem;
  border-radius: 10px;
}

#about .about-grid .content .socials-list .social-icon-container:hover {
  background-color: #57A0FF;
  color: #eee;
  border-radius: 10px;
}

@media screen and (max-width: 1350px) {
  #about .about-grid {
    width: 100%;
    left: 55%;
  }
}

@media screen and (max-width: 938px) {
  #about .about-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    left: 50%;
    row-gap: 50px;
    text-align: center;
  }
  #about .about-grid .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about .about-grid .img-container .about-img {
    width: 32.5%;
  }
  #about .about-grid .content .main-text {
    margin: .25em 0;
  }
  #about .about-grid .content .large-paragraph {
    margin: 2em 0 2em 11.125%;
  }
  #about .about-grid .content .socials-heading {
    margin-bottom: 1em;
  }
  #about .about-grid .content .socials-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about .about-grid .content .socials-list .social-icon-container:first-of-type {
    margin-left: 12px;
  }
}

@media screen and (max-width: 506px) {
  #about .about-grid .img-container .about-img {
    width: 50%;
  }
}

#contact .contact-form {
  width: 35vw;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 2.5vh;
  text-align: left;
}

#contact .contact-form .form-group {
  display: block;
}

#contact .contact-form .form-group:not(:first-of-type) {
  margin-top: 2em;
}

#contact .contact-form .form-group.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
}

#contact .contact-form .form-group.grid .input-container {
  width: 100%;
}

#contact .contact-form .form-group label {
  display: block;
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
  color: #fff;
  margin-bottom: .5em;
}

#contact .contact-form .form-group .input {
  width: 100%;
  height: 45px;
  padding-left: .75em;
  background-color: rgba(9, 22, 38, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.05125);
  border-bottom: 1px solid #95C3FF;
  border-radius: 5px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 100;
}

#contact .contact-form .form-group .input.textarea {
  height: 120px;
  padding-top: .75em;
}

#contact .contact-form .form-group .input::-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 100;
  color: #BFBFBF;
}

#contact .contact-form .form-group .input:-ms-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 100;
  color: #BFBFBF;
}

#contact .contact-form .form-group .input::-ms-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 100;
  color: #BFBFBF;
}

#contact .contact-form .form-group .input::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 100;
  color: #BFBFBF;
}

#contact .contact-form .form-group .input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 14px rgba(149, 195, 255, 0.5);
          box-shadow: 0px 0px 14px rgba(149, 195, 255, 0.5);
}

#contact .contact-form .form-group .btn {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 2em;
}

#contact .contact-form .alert {
  background: rgba(255, 0, 0, 0.2);
  padding: 16px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: relative;
}

#contact .contact-form .alert .alert-text {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: #f00;
}

#contact .contact-form .alert .close-icon {
  color: #f00;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#contact .contact-form .alert .close-icon:hover {
  opacity: .5;
}

/* Blog Article Page Layout */

/* Header/Blog Title */






@media screen and (max-width: 1348px) {
  #contact .contact-form {
    width: 50vw;
  }
}

@media screen and (max-width: 886px) {
  #contact .contact-form {
    width: 100%;
  }
}

@media screen and (max-width: 612px) {
  #contact .contact-form .form-group.grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #contact .contact-form .form-group.grid .input-container:first-of-type {
    margin-bottom: 1.5em;
  }
}

footer {
  height: 80px;
  background-color: #030917;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-text {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
  color: #BFBFBF;
}
